/* --------------
     General 
----------------- */

:root {
	--gray: #ccc;
	--cream: #e8e4de;
	--red: #db4f45;
    --green: #275230;
    --pink: #e5b7ac;
    --mustard: #c7b151;
    --blue: #c1cecc;
    --sub: 'gaultier', sans-serif;
    --title: 'lust', serif;
    --copy: 'Capitolina';
	--default-shadow: rgba(0, 0, 0, 0.25);
	--default-duration: 0.3s;
}

/* --------------
      Fonts 
----------------- */

@font-face {
    font-family: 'Chloe';
    src: url(fonts/Chloe-Regular.otf);
  }

@font-face {
    font-family: 'The Light Font';
    src: url(fonts/TheLightFont.ttf);
  }

@import url("https://use.typekit.net/oxw4kgs.css");

/* --------------
      Layout 
----------------- */

body {
    background-color: rgba(232, 228, 221, .5);
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.scroll-container {
    height: calc(100vh - 65px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section { 
    scroll-snap-align: center;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2em;
    align-items: flex-end;
}

footer {
    z-index: 99;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--cream);
    margin-top: 3.5em;
}

.editor-section {
    height: 100%;
}

.hadley img {
    margin-top: 3em;
    margin-bottom: 1em;
}

.jen img {
    margin-bottom: 1em;
}

.article-container {
    width: 70%;
    margin: 0 auto;
    padding: 1.5em;
}

.article-container img {
    width: 100%;
    margin-bottom: 1em;
}

.editor-section {
    padding-bottom: 4em;
}

.quote-container {
    display: flex;
    vertical-align: middle;
    height: calc(100vh - 100px);
}

.quote-container {
    padding: 0px;
}

@media (min-width: 800px) {

    .article-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 85%;
        margin: 0 auto;
        align-items: stretch;
    }

    .article-flex section {
        flex: 4;
        padding-bottom: 2em;
    }
}

@media (max-width: 799px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 700px) {
    .article-flex {
        margin: 0 auto;
        width: 80%;
    }
}

/* --------------
    Typography 
----------------- */

h1, h2, h3, h4 {
    font-family: var(--title);
    line-height: 1em;
    color: var(--pink);
}

h5, h6 {
    font-family: var(--sub);
    font-weight: 500;
    color: var(--pink);
    text-transform: uppercase;
}

p {
    font-family: var(--copy);
    margin: 0 0 .5em;
}

h1 {
    font-size: 2.2em;
}

ul.nav {
    font-family: var(--sub);
}

label {
    font-family: var(--sub);
    color: var(--green);
    margin: 1.5em 0 .2em;
}

option {
    font-family: var(--copy);
}

input, 
optgroup, 
select, 
textarea {
    font-family: var(--copy) !important;
    font-size: 16px !important;
  }

  button,
  [type="button"], 
  [type="reset"], 
  [type="submit"] {
      color: var(--cream);
      font-family: var(--sub);
  }

.copy-container h5, .creative-container h5 {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* --------------
      Colors 
----------------- */

.mustard {
    color: var(--mustard);
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.cream {
    color: var(--cream);
}

.blue-bg {
    background-color: var(--blue);
}

.green-bg {
    background-color: var(--green);
}

.pink-bg {
    background-color: var(--pink);
}

.red-bg {
    background-color: var(--red);
}

.mustard-bg {
    background-color: var(--mustard);
}

li a {
    color: var(--green) !important;
}

li a:hover {
    color: var(--pink) !important;
}

/* --------------
     Articles 
----------------- */

.img-container {
    width: 100%;
}

/* --------------
    Navigation 
----------------- */

nav ul {
    list-style-type: none;
    padding-inline-start: unset;
    font-family: var(--sub);
    color: var(--green);
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 1em 0;
    flex-wrap: wrap;
}

ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;
}

ul.nav li {
    margin: .5em 1em;
}

ul.nav.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em auto 0;
    text-align: center;
}

button.hamburger {
    height: 45px;
    width: 45px;
    padding: 0;
}

.hamburger {
    background-color: var(--cream);
    border-radius: 50%;
}

@media (max-width: 1001px) {
    ul.nav {
        display: none;
    }
}

@media (min-width: 1000px) {
    .hamburger {
        display: none;
    }
}

nav a {
    text-transform: uppercase;
}

.active {
    color: var(--pink) !important;
}

/* --------------
     Carousel 
----------------- */

.img-container button {
    background-color: transparent;
}

.img-container button:hover {
    background-color: transparent;
}

.img-container ul {
    padding-left: 7%;
}

.carousel-multiple-items section {
    height: 700px;
}

.ec {
    position: relative;
}

.ec .ec__holder {
    overflow: hidden;
}

.ec .ec__track { 
    will-change: transform;
}

.ec .ec__track:after {
    content: '';
    display: table;
    clear: both;
}

.ec .ec__item { 
    float: left;
    overflow: hidden;
}

.ec .ec__pagination { 
    text-align: center;
    margin-top: 10px
}

.ec .ec__pagination .pagination__dot { 
    width: 8px;
    height: 8px;
    background-color: transparent;
    display: inline-block;
    border: 1px solid #000;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.ec .ec__pagination .pagination__dot--active { 
    background-color: #000;
}

.ec .ec__nav { 
    position: absolute;
    bottom: 10px;
    border-top: 2px solid var(--cream);
    border-right: 2px solid var(--cream);
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 1em 0;
}

.ec .ec__nav:before {
    content: '';
}

.ec .ec__nav--prev { 
    transform: rotate(-135deg);
    left: 47vw;
}

.ec .ec__nav--next { 
    transform: rotate(45deg);
    right: 47vw;
}

/* --------------
      Forms 
----------------- */

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  
input {
    margin: 0.5rem;
}

textarea {
    flex: 3 1 10ch;
    margin: 0.5rem;
}


.form-container {
    width: 85%;
    margin: 0 auto;
}

@media (min-width: 1000px) {
    
    .form-container {
        width: 65%;
    }
}

button,
[type="button"], 
[type="reset"], 
[type="submit"] {
    margin: 1.5em 0;
    border: 1.5px solid var(--black);
    min-height: 2.5em;
    font-family: var(--sub);
}

button:hover,
[type="button"]:hover, 
[type="reset"]:hover, 
[type="submit"]:hover {
    background-color: var(--pink);
}

input,
textarea,
select {
    border: 1.5px solid var(--cream);
}

input {
    min-height: 2em;
  }

  textarea {
    min-height: 6em;
  }

input:focus,
textarea:focus,
select:focus {
    border: 1.5px solid var(--pink);
}



/* --------------
      Lists 
----------------- */

.img-container ul {
    list-style-type: none;
}

.img-container ul li {
    margin: 0.2em 0;
}

select {
    padding: 5px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMCAxMDAiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBmaWxsPSIjMDEwMTAxIiBwb2ludHM9IjIzLjEsMzQuMSA1MS41LDYxLjcgODAsMzQuMSA4MS41LDM1IDUxLjUsNjQuMSAyMS41LDM1IDIzLjEsMzQuMSAiLz48L3N2Zz4=) no-repeat right var(--cream);
    -webkit-appearance: none;
    background-position-x: 280px;
}

@media (min-width: 1000px) {
    select {
        background-position-x: 1040px;
    }
}

/* --------------
     Buttons 
----------------- */

button.article-btn {
    transform: rotate(-90deg);
    margin-right: 0;
    font-family: var(--sub);
    text-transform: uppercase;
}

/* --------------
     Desktop
----------------- */

@media (min-width: 700px) {
    .contributor-container {
        display: flex;
        margin-bottom: 3em;
    }

    .copy-container {
        margin-right: 2em;
    }

    .jen-copy {
        margin-left: 2em;
    }

    .jen-image h1, .jen-image h5 {
        margin-left: 35px;
    }

    .jen-image h1, .hadley-image h1 {
        margin-top: -20px;
        margin-block-end: 0px;
    }

    .jen-image img, .hadley-image img {
        width: 60%;
    }

    .jen-image, .hadley-image {
        flex-grow: 1;
    }
}
