/* --------------
     General 
----------------- */

:root {
	--gray: #ccc;
	--cream: #e8e4de;
	--red: #db4f45;
    --green: #275230;
    --pink: #e5b7ac;
    --mustard: #c7b151;
    --blue: #c1cecc;
	--default-shadow: rgba(0, 0, 0, 0.25);
	--default-duration: 0.3s;
}

/* --------------
      Fonts 
----------------- */

@font-face {
    font-family: 'Chloe';
    src: url(fonts/Chloe-Regular.otf);
  }

@font-face {
    font-family: 'The Light Font';
    src: url(fonts/TheLightFont.ttf);
  }

/* --------------
      Layout 
----------------- */

body {
    background-color: rgba(232, 228, 221, .5);
    margin: 0 auto;
    width: 100%;
}

section { 
    height: 100vh;
    width: 100%; 
}

.container {
    width: 85%;
    margin: 0 auto;
}

section {
    padding: 40px 0;
}

/* --------------
    Typography 
----------------- */

h1, h2, h3, h4 {
    font-family: 'Chloe';
    line-height: 1em;
    color: var(--pink);
}

h5, h6 {
    font-family: 'The Light Font';
    color: var(--pink);
}

p {
    font-family: 'Capitolina';
}

h1 {
    font-size: 2.2em;
}

ul.nav {
    font-family: 'The Light Font';
}

label {
    font-family: 'The Light Font';
    color: var(--green);
    margin: 1.5em 0 .2em;
}

option {
    font-family: 'Capitolina';
}

input, 
optgroup, 
select, 
textarea {
    font-family: 'Capitolina' !important;
    font-size: 14px !important;
  }

  button,
  [type="button"], 
  [type="reset"], 
  [type="submit"] {
      color: var(--cream);
      font-family: 'The Light Font';
  }

/* --------------
      Colors 
----------------- */

.mustard h2 {
    color: var(--mustard);
}

section .pink {
    color: var(--pink);
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}

.pink {
    background-color: var(--pink);
}

li a {
    color: var(--green);
}

/* --------------
     Articles 
----------------- */

.img-container {
    width: 100%;
}

/* --------------
    Navigation 
----------------- */

nav ul {
    list-style-type: none;
    padding-inline-start: unset;
    font-family: 'The Light Font';
    color: var(--green);
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 1em 0;
}

ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul.nav li {
    margin: 0 1em;
}

@media (max-width: 1000px) {
    ul.nav {
        display: none;
    }
}

/* --------------
      Forms 
----------------- */

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container {
    width: 85%;
    margin: 0 auto;
}

button,
[type="button"], 
[type="reset"], 
[type="submit"] {
    margin: 1.5em 0;
    background-color: var(--green);
    border: none;
    min-height: 2.5em;
}

button:hover,
[type="button"]:hover, 
[type="reset"]:hover, 
[type="submit"]:hover {
    background-color: var(--pink);
}

input,
textarea,
select {
    border: 1px solid var(--cream);
}

input {
    min-height: 1em;
  }

  textarea {
    min-height: 5em;
  }

input:focus,
textarea:focus,
select:focus {
    border: 1px solid var(--pink);
}